@font-face {
 font-family: Equestria;
 src: url(effect_font_equestria.ttf);
}
html, body {
 height: 95%;
}
body {
 background: #88B8C9 url(background_winter.jpg) no-repeat;
 background-size: cover;
 overflow-x: hidden;
 padding-bottom: 30px;
}
.ava {
 position: absolute;
 float: left;
 margin-top: 10px;
 text-align: center;
 width: 10%;
}
.round {
 border: 2px solid #50A0B0;
 border-radius: 50%;
 box-shadow: 0px 0px 30px 3px #8CC;
}
.main, .mustitle {
 position: relative;
 margin-top: 15px;
 margin-bottom: 10px;
 text-align: center;
 z-index: 1;
 color: #308090;
 font: 40px Equestria;
 text-shadow:  2px  0px 1px #B9D,
	       1px  1px 0px #B9D,
	      -2px  0px 1px #FFF,
	       0px  2px 1px #B9D,
	       0px -2px 1px #FFF,
	       1px -1px 0px #FFF,
	      -1px  1px 0px #FFF,
	      -1px -1px 0px #FFF,
	       0px  0px 8px #87F,
	       0px  0px 8px #87F,
	       0px  0px 8px #87F;
}
.cen {
 border: 1px solid #50A0B0;
 box-shadow: 0px 0px 30px 3px #AFF;
 margin-top: 20px;
}
.rare {
 position: absolute;
 margin-left: 10px;
 vertical-align: top;
 font-size: 17px;
}
.quote {
 font-size: 24px;
 margin-bottom: 10px;
}
.jp-no-solution {
 display: none;
 padding: 5px;
 font-size: 18px;
}
#jplayer_inspector, a {
 color: #308090;
 font-size: 25px;
}
code {
 font-size: 18px;
}
pre {
 text-align: left;
 white-space: pre-wrap;
 font-size: 12px;
}
.credit {
 font-size: 16px;
}
.mustitle {
 position: absolute;
 bottom: 0;
 float: left;
 padding: 10px;
 z-index: 0;
 font-size: 21px;
}